<table align="center" width="796" cellspacing="0" cellpadding="0" bgcolor="#E2E2E2">
    <tbody>
        <tr>
            <td style="text-align:center;padding:55px 0px 35px"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table id="m_3314480020993934552main-panel" align="center" cellpadding="0" cellspacing="0" style="border-spacing:0;border-collapse:collapse;background-color:white;vertical-align:top;width:540px;margin-left:auto;margin-right:auto;border-bottom:1px solid #f2f2f2">
                    <tbody>
                                                            <tr>
                                <td align="center" style="font-size:22px;color:#252525;line-height:25px;font-weight:light;padding:50px 0px 30px 0px;width:540px">
                                    <b>Welcome To Cotton</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="font-size:18px;color:#666666;line-height:25px;font-weight:regular;padding:0px 30px 0px 30px;width:540px">
                                회원가입을 환영합니다 {{user.username}} 님
                                </td>
                            </tr>
                                                                    <tr>
                                    <td align="center" style="font-size:18px;color:#666666;line-height:25px;font-weight:regular;padding:30px 30px 0px 30px;width:540px">
                                    </td>
                                </tr>
                                                            
                    </tbody>
                </table>
                <table id="m_3314480020993934552main-panel" align="center" cellpadding="0" cellspacing="0" style="border-spacing:0;border-collapse:collapse;vertical-align:top;width:540px;background-color:white;margin-left:auto;margin-right:auto">
                    <tbody>
                                                      <tr>
                            <td align="center" style="font-size:18px;color:#666666;line-height:25px;font-weight:regular;padding:40px 0px 30px 0px;width:540px">
                            아래의 버튼을 눌러 회원가입을 진행해주세요
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding:0px 0px 30px 0px;width:540px">
                                <a href="{{front_end_host}}/{{front_end_auth_url}}?{{front_end_auth_key}}={{code_key}}" target="_blank" data-saferedirecturl="">
                                <div>Cotton으로 이동</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="font-size:13px;font-family:'Open Sans';padding:0px 0px 50px 0px;width:540px;line-height:25px">
                                <b>Note:</b>
                                이 링크는 1시간 동안 유효합니다
                            </td>
                        </tr>
                  </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>